{
    "singleQuote": true,
    "printWidth": 180,
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "semi": true,
    "arrowParens": "always"
}
